.Box-heading{
    background-color: red;
    width: 28%;
}

.Box-heading h2{
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
}
.Box-heading p{
    color: white;
    font-size: 10px;
    font-style: none;
    margin: 0px;
}

/* small box styling start here */
.small-box{
    /* background-color: blue; */
    width: 101%;
}
.small-box ul{
    list-style: none;
    display: flex;
}

.small-box-heading h2{
    color: white;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.small-box-heading p{
    padding-top: 5px;
    padding-bottom: 8px;
    color: white;
    font-size: 10px;
    margin: 0px;
    letter-spacing: 0px;
    word-spacing: 1px;
    font-weight:lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.small-box-img{
    /* padding: 5px; */
    /* background-color: blue; */
    padding-top: 15px;
    padding-right: 10px;
}

/* small button */
.small-but{
    border-radius: 20px;
    width: 100px;
    font-size: 12px;
    margin-top: 10px;
    background-color: black;
    color: #f9004d;
    border: 3px solid #f9004d;
    /* border:2px solid transparent; */
}
.small-but:hover{
    background-color: #f9004d;
    color: black;
    font-weight:bold;
    transition-duration: 300ms;
}



/* big box */
.big-box-01 ul{
    list-style: none;
    display: flex;
}
.heading-big-box-01 h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background-color: pink; */
    width: 100%;
}
.heading-big-box-01 p{
    /* background-color: green; */
    margin-left: 0;
    width: 110%;
    color: white;
    font-size: 12px;
}
.big-box-img-01{
    /* background-color: blue; */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: -20px;
}

/* controoling the box page */
.main-big-box{
    /* background-color: red; */
    width: 35%;
    /* margin-left: -30px; */
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* main box */
.main-box-1{
    /* background-color: greenyellow; */
    /* padding: 10px; */
}

/* advertising bar */
.adver-box{
    background-image: linear-gradient(45deg, #f9004d 0%, #ff99ff, #f0f, #f00);
}
.adver-box ul{
    list-style: none;
    display: flex;
}
.adver-line{
    text-align: center;
    /* background-color: pink; */
    width: 103%;
    margin-left: -50px;
    font-weight: bold;
    color: black;
}
/* .adver-but{
    background-color: blueviolet;
    width:5%;
    float:
} */
.adver-close{
    background-color: #f9004d;
    float: right;
}